@import "constants/constants.scss";

.selectTaskCount {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0;
    align-items: center;
    .selectTaskCount__title {
        margin-right: 16px;
        color: $color_grey;
    }
    .selectTaskCount__form {
        margin: 8px;
        min-width: 50px;
        div {
            color: $color_grey;
        }
    }
}
