.error {
    .error_image {
        display: block;
        margin: 100px auto
    }
    .error_title {
        text-align: center;
        font-size: 20px;
        color: #00a1b6;
    }
    .error_link {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 100px;
        color: #00a1b6;
    }
}