@import '../../constants/constants.scss';

.error {
    &.image {
        display: block;
        margin: 100px auto
    }
    &.title {
        text-align: center;
        font-size: 20px;
        color: $color_mint;
    }
    &.link {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 100px;
        color: $color_mint;
    }
}