@import '../../constants/constants.scss';

.form {
    &.title {
        font-size: 22px;
        margin-top: 50px;
        text-align: center;
    }
    &.field {
        &>:not(style) {
            width: 300px;
            display: block;
            margin: 50px auto;
        }
    }
    &.success_message {
        text-align: center;
    }    
    &.error_message {
        text-align: center;
        margin-bottom: 30px;
        color: #ff0000;
    }
    input[type="checkbox"] {
        display: inline;
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    &.submit_button {
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
