.form {
    .title {
        font-size: 22px;
        margin-top: 50px;
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }       
    .loading_title {
        text-align: center;
        min-height: 30px;
        margin-bottom: 30px;
        color: #00a1b6;
    }
    .error_title {
        text-align: center;
        margin-bottom: 30px;
        color: red;
    }
    input[type="checkbox"] {
        display: inline;
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    .submit_button {
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    } 
}