@import '../../constants/constants.scss';

.message {
    min-height: 25px;
    text-align: center;
    &.success {
        margin-top: 25px;
        color: $color_mint;
    }
    &.error {
        color: #ff0000;        
    }
}
