@import "constants/constants.scss";

.modal__box {
    border: 3px solid #ff0000;
    .modal__title {
        font-size: 18px;
        margin: 16px 0;
    }
    .modal__actions {
        margin: 0 16px;
    }
    .modal__cancel_button {
        color: $color_grey;
    }
    .modal__submit_button {
        color: #ff0000;
    }
}
