@import '../../constants/constants.scss';

.cardlist {
    &.addtask {
        text-align: center;
        &.button {
            margin: 16px;
            border-radius: 20px;            
        }
    }
    &.fullcard {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        max-width: 90%;
        max-height: 600px;
        overflow-y: auto;
        border-radius: 20px;
    }
    &.subtitle {
        font-size: 18px;
        margin: 8px;
        text-align: center;
        color: $color_grey;            
    }
    &.short_card {
        margin: 8px;
        display: flex;
        justify-content: center;       
    }
}