@import "constants/constants.scss";

.cardList {
    .cardList__subtitle {
        font-size: 18px;
        margin-bottom: 8px;
        text-align: center;
        color: $color_grey;
    }
}
