@import '../../constants/constants.scss';

.cardList {   
    &.button {
        display: block;
        margin: 16px auto;
        border-radius: 20px;            
    }   
    &.fullCard {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        max-width: 90%;
        max-height: 600px;
        overflow-y: auto;
        border-radius: 20px;
    }
    &.subtitle {
        font-size: 18px;
        margin: 8px;
        text-align: center;
        color: $color_grey;            
    }
    &.shortCard {
        margin-top: 8px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;       
    }
}