.update_page {
    .update_page_title {
        margin-top: 24px;
        text-align: center;
        font-size: 25px;
    }   
    &_checkbox {
        display: flex;
        justify-content: flex-start;        
    }
    &_button {
        display: block;
        margin: 20px;
        text-align: center;
        &_cancel {
            margin: 0 16px;
            color: #898989;            
        }
        &_submit {
            margin: 0 16px;
        }       
    }
}
