@import "constants/constants.scss";

.fullCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 20px;
    .fullCard__closeIcon {
        position: absolute;
        top: 22px;
        right: 22px;
        color: $color_grey;
        cursor: pointer;
        &:hover {
            color: #000000;
        }
    }
    .fullCard__subtitle {
        min-height: 30px;
        word-wrap: break-word;
    }
    .fullCard__description > p {
        margin: 0;
    }
    .fullCard__description {
        min-height: 100px;
        word-wrap: break-word;
        overflow-y: auto;
    }
    .fullCard__buttons {
        display: flex;
        justify-content: space-around;
        padding: 0 8px 16px;
    }
}
