@import 'constants/constants.scss';

.fullCard {    
    &.close_icon {
        position: absolute;
        top: 22px;
        right: 22px;
        color: $color_grey;
        cursor: pointer;
        &:hover {
            color: #000000;
        }
    }
    &.subtitle {
        min-height: 30px;
        word-wrap: break-word;
    }
    &.description > p {
        margin: 0;        
    }
    &.description {        
        min-height: 100px;
        word-wrap: break-word;
        overflow-y: auto;
    }
    &.buttons {
        display: flex;
        justify-content: space-around;
    }
}
