.deleteForm {
    text-align: center;
    border: 2px solid #ff0000;
    .deleteForm__title {
        padding: 20px;
        font-size: 1.25rem;
    }
    .deleteForm__icon {
        color: #ff0000;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 1.8rem;
    }
}
