.full_card {
    width: 400px;
    border: 2px solid #979797;
    max-width: 100%;
    border-radius: 20px;
    &_close_icon {
        position: absolute;
        top: 22px;
        right: 22px;
        color: #808080;
        cursor: pointer;
        &:hover {
            color: #000;
        }
    }
    &_subtitle {
        min-height: 30px;
        word-wrap: break-word;
    }
    &_description > p {
        margin: 0;        
    }
    &_description {        
        min-height: 100px;
        word-wrap: break-word;
        overflow-y: auto;
    }
    &_buttons {
        display: flex;
        justify-content: space-around;
    }
}
