@import 'constants/constants.scss';

.button {
    display: block;
    margin: 20px;
    text-align: center;
    &.cancel {
        margin: 0 16px;
        color: $color_grey;
    }
    &.submit {
        margin: 0 16px;
    }
}
