@import 'constants/constants.scss';

.navbar {
    .navbar__logo {
        margin-right: 20px;
        font-size: 25px;
        font-weight: 700;
        font-family: monospace;
        color: #fff;
        text-decoration: none;
        flex-grow: 1;
    }
}
.navbar__menu {
    padding: 5px 15px;
    color: $color_grey;
    cursor: pointer;
    &:hover {
        color: #2b2b2b;
    }
}
