.navbar {
    .navbar__logo {
        margin-right: 20px;
        font-size: 25px;
        font-weight: 700;
        font-family: monospace;
        color: #fff;
        text-decoration: none;
        flex-grow: 1;
    }
}
