.navbar {
    &.link_text {
        margin-right: 20px;
        font-size: 25px;
        font-weight: 700;
        font-family: monospace;
        color: #ffffff;
        text-decoration: none;
        flex-grow: 1;
    }
}