@import "constants/constants.scss";

.form {
    .form__paper {
        margin-top: 32px;
        padding: 16px 0;
        .paper__title {
            font-size: 22px;
            text-align: center;
        }
        .paper__avatar {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .paper__field {
            & > :not(style) {
                width: 300px;
                display: block;
                margin: 30px auto;
            }
        }
        input[type="checkbox"] {
            display: inline;
            width: 25px;
            height: 25px;
            margin-right: 15px;
        }
    }

    .form__subtitle {
        text-align: center;
        margin: 30px 0 10px 0;
    }
    .form__submit_button {
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
