.form {
    .form__paper {
        margin: 32px 0;
        padding: 16px 0 8px;
        .paper__title {
            font-size: 22px;
            text-align: center;
        }
        .paper__avatar {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            margin-top: 20px;
        }       
        input[type="checkbox"] {
            display: inline;
            width: 25px;
            height: 25px;
            margin-right: 15px;
        }
        .paper__checkbox {
            cursor: pointer;
            width: 150px;
            margin-left: 50px;
        }
    }

    .form__subtitle {
        text-align: center;
    }
    .form__submit_button {
        display: block;
        margin: 20px auto;
    }
    .form__return_button {
        display: block;
        text-align: center;
        margin: 20px auto;
    }
}
