@import '../../constants/constants.scss';

.form {
    &.paper {
        margin-top: 32px;
        padding: 16px 0;
    }
    &.title {
        font-size: 22px;              
        text-align: center;
    }
    &.password {
        margin-top: 50px;
    }
    &.subtitle {
        text-align: center;
        margin: 30px 0 10px 0; 
    }
    &.avatar {
        width: 60px; 
        height: 60px; 
        margin: 0 auto;
        margin-top: 20px;
    }
    &.field {
        &>:not(style) {
            width: 300px;
            display: block;
            margin: 30px auto;
        }
    }    
    input[type="checkbox"] {
        display: inline;
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    &.submit_button {
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;       
    }
}
