@import 'constants/constants.scss';

.footer {
    height: 64px;
    background-color: $color_mint;
    text-align: end;    
    .footer__icon {
        color: #ffffff;
        display: inline-block;
        margin: 22px 8px -3px 0px
    }
    .footer__logo {
        display: inline;
        margin-right: 24px;
        font-size: 26px;
        font-weight: 700;
        font-family: monospace;
        color: #ffffff;
    }
}