.statistic {
    margin-top: 16px;
    .title {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
    }
    .subtitle {
        width: 220px;
        padding: 10px 0 20px 40px;
    }
    .box {
        display: flex;
        justify-content: space-between;
        padding: 2px;
    }
    .text {
        padding: 20px 0;
    }
}