@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Mulish:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: "-apple-system", "BlinkMacSystemFont", "Inter", "Arial",
        "Mulish", "Segoe UI", "Roboto", "sans-serif", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
