@import "constants/constants.scss";

.form {
    .form__title {
        font-size: 22px;
        text-align: center;
        margin-top: 50px;
    }
    .form__field {
        & > :not(style) {
            width: 300px;
            display: block;
            margin: 30px auto;
        }
    }   
    .form__submit_button {
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
