.avatar {
    text-align: center;
    &.title {
        font-size: 22px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    label {
        margin-left: 0;
        cursor: pointer;
    }
    &.close_icon {
        margin: -8px 0 -8px 10px;
        cursor: pointer;
    }
    &.message {
        min-height: 25px;
    }
}