@import "constants/constants.scss";

.profile {    
    .profile__paper {
        margin-top: 30px;
        text-align: center;
        .profile__title {
            font-size: 25px;            
            font-weight: 600;
            padding: 10px 0 25px 0;        
        }
    }
    .profile__link {
        display: block;
        margin: 40px auto;
    }
    label {        
        margin-bottom: 10px;        
    }
}
.profile__field {
    & > :not(style) {
        width: 300px;
        display: block;
        margin: 30px auto;
    }
}
