@import "constants/constants.scss";

.profile {
    text-align: center;
    &.title {
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 10px;
        font-weight: 600;        
    }
    &.subtitle {
        padding: 20px;
        color: #ff0000;
        font-size: 20px;
    }
    label {
        color: $color_grey;
        text-align: left;
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}
