@import '../../constants/constants.scss';

.profile {
    text-align: center;
    &.title {
        font-size: 22px;
        margin-top: 50px;
        margin-bottom: 30px;
    }   
    label {
        color: $color_grey;
        text-align: left;
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
