@import "constants/constants.scss";

.profile {    
    .profile__paper {
        margin: 32px 0 16px;
        text-align: center;
        .profile__title {
            font-size: 25px;            
            font-weight: 600;
            padding: 10px 0 25px 0;        
        }
    }
    .profile__link {
        display: block;
        margin: 40px auto;
    }    
}
