@import "constants/constants.scss";

.button {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px;
    .button__cancel {
        margin: 0 16px;
        color: $color_grey;
    }
    .button__submit {
        margin: 0 16px;
    }
}
